.container {
  display: flex;
  gap: 4vw;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  letter-spacing: 2.08px;
  text-transform: capitalize;

  & a {
    color: white;
    transition: .2s;
    position: relative;

    &:hover {
      color: white;
      transition: .3s;
      //text-decoration: underline;
    }

    &:hover::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: #00f; /* Цвет подчёркивания */
      transition: width 0.3s ease-in-out; /* Длительность и функция изменения анимации */
    }

  }

}