.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    top: 0;
    margin-bottom: auto;
    z-index: 2;

    &Title {
        font-family: Cinzel Decorative, sans-serif;
        text-transform: uppercase;
        font-size: 2rem;
        margin-top: 2.2rem;

        & a {

        }

    }

}

.container {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw !important;
    margin: 0 2rem;

    &Nav {
        margin: 0 5% 0 0;
    }

    &Additional {
        width: 7rem;
        margin: 0 3.5rem;
    }

    &Traslation {

        display: flex;
        flex-wrap: nowrap;

        & button {
            padding: 0 .2rem;
            min-width: min-content;
            margin: 0 .2rem;
        }

    }

}