@import './styles/fonts';

#root {

}

* {
  margin: 0;
  padding: 0;
  border: unset;
  overflow: hidden;
}

.App {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;

  & h1 {
    text-align: center;
  }

}

.icon__button {

  position: relative;

  & button {
    position: relative;
    z-index: 1;
  }

  & div:last-child {
    position: absolute;
    top: 0;
    z-index: 0;
  }

}

.MuiPaper-root {
  width: min-content;
  padding: 1.2rem;
  margin-top: 20vh;

  .MuiCardContent-root {
    min-width: 30vw;
  }

}